:root {
  color-scheme: light dark;
  font-family: system-ui, sans-serif;
  --lh: 1.5rem;
  line-height: var(--lh);
}

header {
  display: flex;
  flex-wrap: wrap;
  padding-inline: 0.75rem;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-size: 2.5rem;
  margin-block: 0;
}
header p {
  font-size: 1.5rem;
  font-weight: 300;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5rem;
  gap: 1rem;
}

article {
  background-color: hsla(var(--hue), 25%, 50%, 0.1);
  padding: 0 1.25rem 0.25rem;
  border-radius: 1rem;
  max-width: min(100%, 25rem);
}
article * {
  text-wrap: balance;
}
article ul {
  list-style-type: none;
  padding-inline-start: 0px;
}
article li + li {
  margin-block-start: 0.5rem;
}
article h2 a{
  font-size: 1.5rem;
}
article a {
  font-size: 1.2rem;
  color:  color-mix( in srgb, hsl(var(--hue), 100%, 50%), CanvasText);
  text-underline-offset: 0.15em;
  text-decoration-thickness: 0.05em;
}
article a:visited {
  color:  color-mix( in srgb, hsl(var(--hue), 25%, 50%), CanvasText);
}
article a:hover {
  text-decoration-style: wavy;
}

footer .info {
  max-width: 60ch;
  margin-inline: auto;
}
footer #credit {
  text-align: center;
}