:root {
  color-scheme: light dark;
  font-family: system-ui, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-wrap: wrap;
  padding-inline: 1rem;
  gap: 0 1rem;
  justify-content: space-between;
}
header h1 {
  font-size: 2.5rem;
  margin-block: 0.75rem 0;
}
header h1 em {
  font-weight: 300;
}
header p {
  font-size: 1.5rem;
  font-weight: 300;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5rem;
  gap: 1rem;
}

main > :is(article, rss-list) {
  max-width: min(100%, 25rem);
}
rss-list > article {
  height: 100%;
}
article {
  background-color: hsla(var(--hue), 25%, 50%, 0.1);
  padding: 0.1rem 1.25rem 0.25rem;
  border-radius: 1rem;
  position: relative;
  box-shadow:
    0.1rem 0.2rem 0.5rem -0.25rem hsla(var(--hue), 50%, 75%, 0.4) inset,
    -0.1rem -0.2rem 0.5rem -0.25rem  hsla(var(--hue), 50%, 10%, 0.4) inset;
}
/* article * {
  text-wrap: pretty;
} */
article ul {
  list-style-type: none;
  padding-inline-start: 0px;
}
article li + li {
  margin-block-start: 0.5rem;
}
article li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
  font-weight: 500;
}
:root:has(.dates-toggle input:not(:checked)) article li small {
  display: none;
}
article li small { 
  color: hsl(var(--hue), 25%, 50%);
  min-width: max-content;
}
@media (max-width: 400px) { 
  article li {
    flex-direction: column;
    align-items: start;
  }
  article li small {
    display: block;
    margin-inline: auto 0;
  }
}
article h2 {
  margin-block: 0.5em;
}
article h2 a {
  font-size: 1.5rem;
}
article a {
  font-size: 1.2rem;
  color: color-mix( in srgb, hsl(var(--hue), 100%, 50%) 40%, CanvasText);
  text-underline-offset: 0.15em;
  text-decoration-thickness: 0.05em;
  overflow-wrap: anywhere;
}
article a:visited {
  color: color-mix( in srgb, hsl(var(--hue), 25%, 50%) 30%, CanvasText);
}
article a:hover {
  text-decoration-style: wavy;
}
article a.rss {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  top: 0;
  right: 0;
  color: color-mix( in srgb, hsl(var(--hue), 100%, 50%), CanvasText);
  opacity: 0.5;
}
article .rss:is(:hover, :focus) {
  opacity: 1;
}

footer .info {
  max-width: 60ch;
  margin: 1.5rem auto;
}
footer :is(.dates-toggle, summary, #credit) {
  text-align: center;
}
