---
import { XMLParser } from 'fast-xml-parser';
import '../styles/rss-joy.css';
const parser = new XMLParser();

const feedURLs = [
	"https://sarajoy.dev/rss.xml",
	"https://localghost.dev/feed.xml",
	"https://www.htmhell.dev/feed.xml",
	"https://chriskirknielsen.com/rss.xml",
	"https://rknight.me/subscribe/posts/rss.xml",
	"https://mxb.dev/feed.xml",
	"https://matthiasott.com/feed",
	"https://buttondown.email/ownyourweb/rss",
	"https://noahliebman.net/feed/index.xml",
	"https://chriscoyier.net/feed/",
	"https://daverupert.com/atom.xml",
	"https://www.mayank.co/blog/rss.xml",
];

async function rss2data(url: RequestInfo | URL, max = 5) {
	const rssResponse = await fetch(url);
	const rssText = await rssResponse.text();
	const feed = parser.parse(rssText);
	const title = feed.rss ? feed.rss.channel.title : feed.feed.title;
	const link = feed.rss ? feed.rss.channel.link : feed.feed.id;
	const posts = feed.rss ? feed.rss.channel.item : feed.feed.entry;
	let entries = [];
	for (let entry = 0; entry < max; entry++) {
		entries.push({
			"title": posts[entry].title,
			"link": posts[entry].id ?? posts[entry].guid,
		});
	}
	return {
		"title": title,
		"link": link,
		"entries": entries,
	}
}

let rssCards = [];
for (const feedURL of feedURLs) {
	rssCards.push(await rss2data(feedURL));
}

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>RSS JOY</title>
	</head>
	<body>
		<header>
			<h1>RS.<span>S</span>JOY.lol</h1>
			<p>An RSS-some starting page.</p>
		</header>
		<main>
			{rssCards.map((rssCard) => (
				<article style=`--hue: ${Math.round(Math.random() * 360)}`>
					<h2><a href={rssCard.link}>{rssCard.title}</a></h2>
					<ul>
					{rssCard.entries.map((entry: { link: string | URL; title: string; }) => (
						<li><a href={entry.link}>{entry.title}</a></li>
					))}
					</ul>
				</article>
			))}
		</main>
		<footer>
			<p>2024 <a href="https://sarajoy.dev">Sara Joy</a></p>
		</footer>
	</body>
</html>